.logo h1{
  font-family: serif;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  padding: 10px 50px 50px 50px;
}

.internet-icon{
  font-size: 30px;
  text-align: center;
  letter-spacing: 20px;
  padding: 0 40px 40px 40px;
}

a{
  text-decoration: none;
  color: black;
}

.contact-form{
  text-align: center;
  font-size: 20px;
  font-weight: normal;
  font-family: fantasy;
  letter-spacing: 5px;
  padding: 30px;
}

.all{
  background-image: url(https://sozai-good.com/download?id=4282&type=1&subnumber=0&extention=jpg);
  background-size: cover;
  height: 600px;
}
